.env
.env.*
!.env.example
secrets.h
simulate_devices.js

docs/

node_modules/
npm-debug.log
yarn-error.log

*.elf
*.bin
*.hex
*.part
build/
.vscode/

Thumbs.db
Desktop.ini
.DS_Store

repomix-output.xml